* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'roboto';
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: rgba(124, 77, 255, 0.616);
    background-image: url(../assets/bg-blue.svg);
    background-repeat: no-repeat;
    background-size: cover;
}